.shoppingCartLabels {
  font-size: large;
  font-weight: 800;
  margin-left: 20px;
}

.shoppingCartContainer {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
  min-height: fit-content;
  margin-top: 30px;
}

.shoppingCartProducts {
  grid-area: 1 / 1 / 2 / 2;
  min-height: 80vh;
  margin: 20px;
}

.shoppingCartPrices {
  grid-area: 1 / 2 / 2 / 3;
  height: 300px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 11px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 1px 11px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 11px 0px rgba(0, 0, 0, 0.75);
}

.productList {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  width: 90%;
  margin: 10px;
  height: 120px;
  flex-direction: row;
}

.productDetailsList {
  width: 250px;
  height: 100px;
  margin: 5px;
}

.productDetailsListImage {
  width: 150px;
  height: 100px;
}

.productDetailsListLine {
  background-color: #abd9ff;
  width: 70%;
  border: 1px solid #abd9ff;
  height: 2px;
  border: 100%;
}

.checkoutCartButton {
  width: 95%;
  padding: 10px;
  margin-top: 70px;
  font-size: large;
  font-weight: bold;
  background-color: black;
  color: white;
  cursor: pointer;
}
.checkoutCartButton:hover {
  scale: 1.05;
  transition: 0.3s;
}

.deleteButton {
  width: 60px;
  height: 34px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.deleteButton:hover {
  color: white;
  background-color: red;
  transition: 0.5s;
}
