.header {
  font-size: 40px;
  font-weight: bold;
}

.success {
  background-color: #d4edda;
  width: 98%;
  height: 40px;
  font-size: large;
  font-weight: 800;
}

.warning {
  background-color: #f8d7da;
  width: 98%;
  height: 40px;
  font-size: large;
  font-weight: 800;
}

.stripeButton {
  width: 92%;
  margin: 20px;
  height: 30px;
}
