.loginFormContainer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  width: 25%;
  min-height: 40vh;
  flex-direction: column;
  border: 1px solid #aac4ff;
  border-radius: 10px;
  box-shadow: 1px 1px 11px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 1px 11px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 11px 0px rgba(0, 0, 0, 0.75);
}
